APP_PORT=8092
DATA_ROOT=/DATA/AppData/ainet-merchandise
APP_SECRET=GANTI_DENGAN_RANDOM_SECRET_MINIMAL_64_KARAKTER
INITIAL_ADMIN_USERNAME=admin
INITIAL_ADMIN_PASSWORD=GantiPasswordAdmin123
APP_NAME=AINET Merchandise
COMPANY_NAME=PT Axindo Infinitas Network
TRUST_PROXY=false
COOKIE_SECURE=false
