APP_PORT=8092
DATA_ROOT=/var/lib/axindo-merchandise
APP_SECRET=GANTI_DENGAN_RANDOM_SECRET_MINIMAL_64_KARAKTER
INITIAL_ADMIN_USERNAME=admin
INITIAL_ADMIN_PASSWORD=GantiPasswordAdmin123
APP_NAME=AINET Merchandise
COMPANY_NAME=PT Axindo Infinitas Network
TRUST_PROXY=true
COOKIE_SECURE=false
PUBLIC_APP_URL=https://katalog.axindo.my.id
ACCESS_HANDOFF_ENABLED=true
ACCESS_PORTAL_URL=https://akses.axindo.my.id
ACCESS_PORTAL_INTERNAL_URL=http://host.docker.internal:8096
ACCESS_ADMIN_GROUP=AXINDO - MERCHANDISE - SUPER ADMIN
